.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(84, 80, 1);
}
.slider::before{
    content: '';
    position: absolute;
    top:65px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url(../../assets/images/bg-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    opacity: 0.8;
}
.heading{
    border-radius: 100px;
    position: relative;
    font-size: 40px;
    text-align: center;
    background-color: #FFF;
    color: #545001;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    
  }
  
  .profile-pic:hover {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  
  .profile-pic span {
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 4.5em;
  }
  form input[type='file'] {
    display: none;
    cursor: pointer;
  }